<style type="text/css">
    /* ============ desktop view ============ */
    @@media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu {
            display: none;
        }

        .navbar .nav-item:hover .nav-link {
            color: #fff;
        }

        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }
    }
    /* ============ desktop view .end// ============ */


</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIS_420_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@*
    This is HTML that will display on every page
    It is used for things such as top navbars and footers. 
    As well as ensuring every page has access to the same CSS
*@

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: black;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Main">
                    <img src="~/Images/Black_and_White_logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @* Home Dropdown *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="homeDropdown" role="button" data-toggle="dropdown">Home</a>
                            <div class="dropdown-menu" aria-labelledby="homeDropdown">
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("Main", "Home", new { area = "" })">Home</a>
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("Calendar", "Home", new { area = "" })">Calendar</a>
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("News", "Home", new { area = "" })">News</a>
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("Community", "Home", new { area = "" })">Community</a>
                            </div>
                        </li>

                        @* Student Dropdown *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="studentDropdown" role="button" data-toggle="dropdown">Students</a>
                            <div class="dropdown-menu" aria-labelledby="studentDropdown">
                                <a class="dropdown-item" title="Student Homepage" href="@Url.Action("Main", "Home", new { area = "Students" })">Home</a>
                                <a class="dropdown-item" title="Student Undergraduate" href="@Url.Action("Main", "Undergraduate", new { area = "Students" })">Undergraduate</a>
                                <a class="dropdown-item" title="Student Graduate" href="@Url.Action("Main", "Graduate", new { area = "Students" })">Graduate</a>
                                <a class="dropdown-item" title="Student Involvement" href="@Url.Action("Main", "StudentInvolvement", new { area = "Students" })">Student Involvement</a>
                            </div>
                        </li>

                        @* Researcher Dropdown *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="researcherDropdown" role="button" data-toggle="dropdown">Researcher</a>
                            <div class="dropdown-menu" aria-labelledby="researcherDropdown">
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("Main", "Home", new { area = "Researchers" })">Home</a>
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("Main", "Forms", new { area = "Researchers" })">Forms</a>
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("Main", "Funding", new { area = "Researchers" })">Funding</a>
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("Main", "Institute", new { area = "Researchers" })">Institute</a>
                                <a class="dropdown-item" title="Homepage" href="@Url.Action("Main", "Compliance", new { area = "Researchers" })">Compliance</a>

                            </div>
                        </li>

                        @* Researcher Dropdown *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="industryDropdown" role="button" data-toggle="dropdown">Industry</a>
                            <div class="dropdown-menu" aria-labelledby="industryDropdown">
                                <a class="dropdown-item" title="Industry Homepage" href="@Url.Action("Main", "Home", new { area = "Industry" })">Home</a>
                                <a class="dropdown-item" title="Industry Funding Opportunities" href="@Url.Action("Main", "Funding", new { area = "Industry" })">Funding Opportunities</a>
                                <a class="dropdown-item" title="Industry Research Cores" href="@Url.Action("Main", "ResearchCores", new { area = "Industry" })">Research Cores</a>
                                <a class="dropdown-item" title="Industry Commercialization Support" href="@Url.Action("Main", "Commercialization", new { area = "Industry" })">Commercialization Support</a>
                                <a class="dropdown-item" title="Industry Compliance" href="@Url.Action("Main", "Compliance", new { area = "Industry" })">Compliance</a>
                            </div>
                        </li>

                        @* Community Dropdown *@
                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="researcherDropdown" role="button" data-toggle="dropdown">Community</a>
                            <div class="dropdown-menu" aria-labelledby="researcherDropdown">
                                <a class="dropdown-item" title="Community Homepage" href="@Url.Action("Main", "Home", new { area = "Community" })">Home</a>
                                <a class="dropdown-item" title="Community Compliance" href="@Url.Action("Main", "Compliance", new { area = "Community" })">Compliance</a>
                            </div>
                        </li>-->
                        @* About Dropdown *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="aboutDropdown" role="button" data-toggle="dropdown">About</a>
                            <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                                <a class="dropdown-item" title="Staff and Faculty" href="@Url.Action("Main", "StaffAndFaculty", new { area = "About" })">Staff and Faculty</a>
                                <a class="dropdown-item" title="Policies" href="@Url.Action("Main", "Policies", new { area = "About" })">Policies</a>
                                <a class="dropdown-item" title="Office Location" href="@Url.Action("Main", "OfficeLocation", new { area = "About" })">Office Location</a>
                                <a class="dropdown-item" title="Mission Statement" href="@Url.Action("Main", "MissionStatement", new { area = "About" })">Mission Statement</a>
                            </div>
                        </li>

                        @* Help Dropdown *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="helpDropdown" role="button" data-toggle="dropdown">Help</a>
                            <div class="dropdown-menu" aria-labelledby="helpDropdown">
                                <a class="dropdown-item" title="Support" href="@Url.Action("Main", "Support", new { area = "Help" })">Support</a>
                                <a class="dropdown-item" title="FAQ" href="@Url.Action("Main", "FAQ", new { area = "Help" })">FAQ</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 border-top">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row justify-content-center">

                <!-- Grid column -->
                <div class="col-md-5 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">OFFICE OF THE EXECUTIVE VICE PRESIDENT FOR RESEARCH & INNOVATION</h5>
                    <p>
                        University of Louisville
                        <br />Jouett Hall
                        <br />Louisville, Kentucky 40292
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Phone</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Tel (502)-852-6512</a>
                        </li>
                        <li>
                            <a href="#!">Fax (502)-852-8361</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Email</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Email EVPRI Service Account</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
