@model CIS_420_Project.Areas.Admin.ViewModels.ManagementViewModel
@{
    var tblArticles = Model.tblArticles;
    var tblUsers = Model.tblUsers;
}

<div>
    @ViewBag.ConfirmationNotice
    @ViewBag.ModelError
    @ViewBag.Blep
</div>

<style>
    .form-group.required .control-label:after {
        content: "*";
        color: red;
    }
</style>

<!-- Trigger the modal with a button -->
<div class="row justify-content-center">
    <div class="col text-center">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#userModal">Create User</button>
    </div>
    <div class="col text-center">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#articleModal">Create Article</button>
    </div>
</div>


<div class="row justify-content-center" style="padding-top: 5px;">
    <div class="col">
        <div class="card rounded border-white bg-dark text-light">
            <h2 class="card-title text-center border-white">Users</h2>
            <div class="card-body overflow-auto" style="height:500px;">
                <div class="text-center">Count: @Model.userCollection.Count()</div>
                <table class="table table-hover table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.userCollection)
                    {
                        <tr>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.EmailAddress</td>
                            <td>@item.PhoneNumber</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded border-white bg-dark text-white">
            <h2 class="card-title text-center border-white">Articles</h2>
            <div class="card-body overflow-auto" style="height:500px;">
                <div class="text-center">Count: @Model.articleCollection.Count()</div>
                <table class="table table-hover table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Creation Date</th>
                            <th>Expiration Date</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.articleCollection)
                    {
                        <tr>
                            <td>@item.ArticleTitle</td>
                            <td>@item.CreationDate</td>
                            <td>@item.ExpirationDate</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Article Modal -->
<div id="articleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="background-color: black;">
            <div class="modal-header">
                <button type="button" class="close btn-outline-danger" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Article Creation</h4>
            </div>
            <div class="modal-body">
                <form id="articleForm"
                      asp-controller="Management"
                      asp-action="CreateArticle">
                    <div class="form-group">
                        <label class="control-label">Article title: </label>
                        <span asp-validation-for="tblArticles.ArticleTitle" class="text-danger"></span>
                        <input asp-for="tblArticles.ArticleTitle" class="form-control" type="text" name="tblArticles.ArticleTitle" />
`   
                        <label class="control-label">Creation Date: </label>
                        <span asp-validation-for="tblArticles.CreationDate" class="text-danger"></span>
                        <input asp-for="tblArticles.CreationDate" class="form-control" type="date" name="tblArticles.ArticleTitle" value="@DateTime.Now" />

                        <label class="control-label">Creation Date: </label>
                        <span asp-validation-for="tblArticles.ExpirationDate" class="text-danger"></span>
                        <input asp-for="tblArticles.ExpirationDate" class="form-control" type="date" name="tblArticles.ExpirationDate" />

                        @*<label class="control-label">Article Photo: </label>
                        <span asp-validation-for="tblArticles.ImagePath" class="text-danger"></span>
                        <input asp-for="tblArticles.ImagePath" class="form-control" type="file" name="tblArticles.ImagePath" />*@
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                <button type="button" onclick="CreateArticle()" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>

    </div>
</div>

<!-- User Modal -->
<div id="userModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="background-color: black;">
            <div class="modal-header">
                <button type="button" class="close btn-outline-danger" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Article Creation</h4>
            </div>
            <div class="modal-body">
                <form id="userForm"
                      class="form-group required"
                      asp-controller="Management"
                      asp-action="CreateUser"
                      enctype="multipart/form-data"
                      method="post">
                    <div class="form-group">
                        <label class="control-label">First Name: </label>
                        <span asp-validation-for="tblUsers.FirstName" class="text-danger"></span>
                        <input asp-for="tblUsers.FirstName" class="form-control" type="text" name="tblUsers.FirstName" />

                        <label class="control-label">Last Name: </label>
                        <span asp-validation-for="tblUsers.LastName" class="text-danger"></span>
                        <input asp-for="tblUsers.LastName" class="form-control" type="text" name="tblUsers.LastName" />

                        <label class="control-label">Email: </label>
                        <span asp-validation-for="tblUsers.EmailAddress" class="text-danger"></span>
                        <input asp-for="tblUsers.EmailAddress" class="form-control" type="email" name="tblUsers.EmailAddress" />

                        <label class="control-label">User Type: </label>
                        <span asp-validation-for="tblUsers.UserTypeId" class="text-danger"></span>
                        <select asp-for="tblUsers.UserTypeId" class="form-control" name="tblUsers.UserTypeId">
                            @foreach (var item in Model.userTypes)
                            {
                                <option>@item</option>
                            }
                        </select>

                        <label class="control-label">Phone: </label>
                        <span asp-validation-for="tblUsers.PhoneNumber" class="text-danger"></span>
                        <input asp-for="tblUsers.PhoneNumber" class="form-control" type="tel" name="tblUsers.PhoneNumber" />

                        <label>Organization: </label>
                        <span asp-validation-for="tblUsers.Organization" class="text-danger"></span>
                        <input asp-for="tblUsers.Organization" class="form-control" type="text" name="tblUsers.Organization" />

                        <label>Website: </label>
                        <span asp-validation-for="tblUsers.WebsiteUrl" class="text-danger"></span>
                        <input asp-for="tblUsers.WebsiteUrl" class="form-control" type="text" name="tblUsers.WebsiteUrl" />

                        <input type="hidden" asp-for="tblUsers.UserId" name="tblUsers.UserId" value="18238123" />

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                <button type="button" onclick="CreateUser()" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>

    </div>
</div>


<script>
    function CreateArticle() {
        $("#articleForm").submit();
    }

    function CreateUser() {
        $("#userForm").submit();
    }

</script>